body {
   /* background: #15a0a0 !important;*/
   background: #1cd8d8 !important;
     margin: 0; padding:0;
     overflow: hidden;
    
}

*{box-sizing: border-box;}

#signin {
    width: 100%;
    /*background: #18b7b7;
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.5);*/
    background: rgba(0, 0, 0, 0.12);
    
}

#signin .form-title {
    font: 500 16px/1 'Roboto', sans-serif;
    color: #EBEBEB;
    text-align: center;
    margin: 35px 0;
    padding:20px 0;
    box-shadow: 0 8px 6px -6px #148484;
    font-size: 1.5em;
}

#signin .input-field {
    position: relative;
    height: 50px;
    margin: 35px;
    transition: all 300ms;
}

#signin .input-field i {
    position: absolute;
    bottom: 28px;
    left: 15px;
    color: #BBBBBB;
    height: 0;
    visibility: hidden;
    font-size: 100%;
    transition: height 250ms;
}

#signin .input-field label {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 20px;
    left: 4px;
    font: 400 16px/1 'Roboto', sans-serif;
    color: #FFF;
    opacity: 1;
    transition: all 300ms;
}

#signin .input-field input {
    width: 100%;
    height: 4px;
    font: 500 16px/1 'Roboto', sans-serif;
    padding: 0 20px 0 50px;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    color: #606060;
    border-radius: 6px;
    outline: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 300ms;
}

#signin .forgot-pw {
    color: #ffffff;
    text-decoration: none;
    float:right;
    margin: 0 25px 25px 0;
    display: block;
}

#signin button.login {
   
    font: 500 16px/1 'Roboto', sans-serif;
    width: 100%;
    padding: 15px;
    display: block;
    background: #15a0a0;
    color: #FFF;
    border: none;
    outline: 0;
    cursor: pointer;
  
}

#signin .check {
    width: 100%;
    height: 100%;
    background: #188a8a;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    visibility: hidden;
    transition: all 1s;
}

#signin .check.in {
    visibility: visible;
    top: 0;
}

#signin .check i {
    color: #FFF;
    font-size: 64px;
    line-height: 7.4;
}

#signin .input-field input:focus {
    color: #333;
}

#signin .input-field input:focus,
#signin .input-field input.not-empty {
    height: auto;
    padding: 10px 20px 10px 50px;
}

#signin .input-field input:focus+i,
#signin .input-field input.not-empty+i {
    font-size: 24px;
    bottom: 26px;
    height: 5px;
    visibility: visible;
}

#signin .input-field input:focus+i+label,
#signin .input-field input.not-empty+i+label {
    font-size: 12px;
    margin-top: -15px;
    opacity: 0.7;
    animation: label 300ms 1;
}

@keyframes label {
    0% {
        margin-top: -15px;
    }

    50% {
        margin-top: -25px;
    }

    100% {
        margin-top: -15px;
    }
}

#gif {
    width: 50%;}

#gif a img {
    max-width: 100%;
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.5);
}




@media (min-width: 576px) { 
    #signin {margin-top:0px;}
 }


@media (min-width: 768px) { 
    #signin {margin-top:0px;}
 }


@media (min-width: 992px) { 
    #signin {margin-top:150px;}
 }


@media (min-width: 1200px) { 
     #signin {margin-top:150px;}
 }


 .colorlib-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .colorlib-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 20s infinite;
    -moz-animation: square 250s infinite;
    -o-animation: square 20s infinite;
    -ms-animation: square 20s infinite;
    animation: square 20s infinite;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  
  .colorlib-bubbles li:nth-child(1) {
    left: 10%;
  }
  
  .colorlib-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    -moz-animation-duration: 17s;
    -o-animation-duration: 17s;
    animation-duration: 17s;
  }
  
  .colorlib-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
  }
  
  .colorlib-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    -moz-animation-duration: 22s;
    -o-animation-duration: 22s;
    -ms-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
  }
  
  .colorlib-bubbles li:nth-child(5) {
    left: 70%;
  }
  
  .colorlib-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .colorlib-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -o-animation-delay: 7s;
    -ms-animation-delay: 7s;
    animation-delay: 7s;
  }
  
  .colorlib-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
  }
  
  .colorlib-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .colorlib-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
  }
  
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
      -moz-transform: translateY(-700px) rotate(600deg);
      -o-transform: translateY(-700px) rotate(600deg);
      -ms-transform: translateY(-700px) rotate(600deg);
      transform: translateY(-700px) rotate(600deg);
    }
  }
  
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
      -moz-transform: translateY(-700px) rotate(600deg);
      -o-transform: translateY(-700px) rotate(600deg);
      -ms-transform: translateY(-700px) rotate(600deg);
      transform: translateY(-700px) rotate(600deg);
    }
  }